@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamPro/GothamPro.ttf") format("truetype"),
    url("../fonts/GothamPro/GothamPro.woff") format("woff"),
    url("../fonts/GothamPro/GothamPro.eot") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype"),
    url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"),
    url("../fonts/GothamPro/GothamPro-Medium.eot") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype"),
    url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"),
    url("../fonts/GothamPro/GothamPro-Bold.eot") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamPro/GothamPro-Light.ttf") format("truetype"),
    url("../fonts/GothamPro/GothamPro-Light.woff") format("woff"),
    url("../fonts/GothamPro/GothamPro-Light.eot") format("woff");
    font-weight: 300;
    font-style: normal;
}
body {
	margin: 0;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight: 400;
	font-family: 'Gotham', sans-serif;
}
* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span, 
a {
	margin: 0;
	font-weight: 400;
}
.button {
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	border: none;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}
.button:hover,
.button:focus,
.button:active {
	
}
table {
	width: 100%;
}
table,
tr,
td,
th {
	border-collapse: collapse;
	border: 1px solid #ddd;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li {
	margin: 0;
	padding: 0;
}
.input {
	width: 100%;
	font-size: 14px;
}
.input:focus {
	outline: none;
}
.textarea {
	width: 100%;
	resize: none;
}
.textarea:focus {
	outline: none;
}
::-webkit-input-placeholder {

}
::-moz-placeholder {

}
:-moz-placeholder {

}
:-ms-input-placeholder {
	
}
/* .container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
} */

button {
	outline: none !important;
}
.padding-top-content{
	margin-top: 90px;
}
.mackbook-platform__title{
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	color: #000000;
	text-align: center;
}
.mackbook-platform__title span{
	color: #F44336
}
.mackbook-platform__description{
	color: rgba( 0, 0 , 0, 0.4);
	text-align: center;
	margin-bottom: 0;
	font-size: 14px;
	font-family: "Gotham";
	font-weight: 400;
}
.macbook-platform__link{
	color: #F44336;
	text-decoration: none;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 80px;
	cursor: pointer;
}
.macbook-platform__arrow{
	padding-left: 20px;
}
.macbook-platform__link:hover{
	color: #F44336;
}
.macbook-platform{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.investment-opportunities__title{
	text-align: center;
	font-size: 22px;
	font-family: "Gotham";
	font-weight: 400;
	line-height: 40px;
	padding-top: 30px;
}
.item-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
}
.card-description{
	font-size: 12px;
	font-family: "Gotham";
	line-height: 40px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
}
.opportunities-bg{
	background-color: #FCFCFC;
	transition: 0.4s;
	width: 270px !important;
}
.card-value{
	font-size: 16px;
	font-family: "Gotham";
	color: #000000;
	line-height: 40px;
	font-weight: 500;
}
.btn-opportunities{
	width: 140px;
	height: 50px;
	background-color: initial;
	border-radius: 4px;
	border-color: #F44336;
	color: #F44336;
	font-size: 12px;
	font-family: "Gotham";
	line-height: 14px;
	font-weight: 400;
	margin: 30px 0;
	transition: 0.4s;
	cursor: pointer;
}
.opportunities-bg:hover {
	background-color: #fff;
	transition: 0.4s;
	box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
	transform: scale(1.1);
	z-index: 20;
}
.wrap-btn__opportunities{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.opportunities-bg:hover .btn-opportunities{
	border-color: #F44336;
	background-color: #F44336;
	color: #fff;
	transition: 0.4s;
}
.investment-title{
	text-align: center;
	font-size: 26px;
	font-family: "Gotham";
	font-weight: 700;
	line-height: 40px;
	padding-bottom: 80px;
	padding-top: 65px;
}
.wrap-dashline{
	border-top: 1px dashed #E2E2E2;
	width: 100%;
	padding-top: 30px;
	/* margin-bottom: 50px; */
}

.wrap-svg{
	position: relative;
}
.percentage{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.percentage{
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(0,0,0, .3);
	font-family: "Gotham";
}
.percentage span {
	font-size: 30px;
	font-family: "Gotham";
	color: #000;
	line-height: 40px;
}
.investment-opportunities{
	padding-bottom: 50px;
}
/* .investment-opportunities .col-sm-12{
	padding-right: 0;
	padding-left: 0;
}
.investment-opportunities .col-md-6{
	padding-right: 0;
	padding-left: 0;
}
.investment-opportunities .col-lg-3{
	padding-right: 0;
	padding-left: 0;
}
.investment-opportunities .col-xl-3{
	padding-right: 0;
	padding-left: 0;
} */
.step-title{
	text-align: center;
	font-size: 26px;
	font-family: "Gotham";
	font-weight: 700;
	line-height: 40px;
	padding-top: 65px;
}
.step-description{
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	padding: 20px 0 40px 0;
	text-align: center;
}
.step-content-title{
	font-size: 14px;
	font-family: "Gotham";
	line-height: 16px;
	font-weight: 400;
	color: rgba( 0, 0 , 0, 0.4);
	transition: 0.4s;
	text-align: center;
	padding-bottom: 15px;
}
.step-content-desc{
	font-size: 10px;
	font-family: "Gotham";
	color: rgba(0, 0, 0, .4);
	line-height: 14px;
	font-weight: 300;
	text-align: center;
}
.wrap-tab{
	border: 1px solid #EEEEEE;
	width: 260px;
	height: 175px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}
wrap-col-step{
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap-tab:hover{
	background-color: #fff;
	transition: 0.4s;
}
.wrap-tab:hover .step-content-title{
	color: #000;
	transition: 0.4s;
}
.wrapper-step{
	background-color: #FAFAFA;
	width: 100%;
	position: relative;
}
.wrapper-step .col{
	flex-grow: unset;
	padding-right: 5px;
	padding-left: 5px;
}
.wrapper-step .row{
	justify-content: center;
}
.step-by-step{
	font-size: 12px;
	font-family: "Gotham";
	color: rgba(0, 0, 0, .3);
	text-align: center;
	padding-bottom: 10px;
}
.icon-tab{
	padding-bottom: 10px;
}
.block-phone{
	text-align: right;
}
.text-left{
	text-align: left;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.wrap-contant-iphone:before{
	content: '';
	display: block;
	background-color: #FAFAFA;
	height: 445px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.wrap-contant-iphone{
	position: relative;
}
.step-sub-title{
	font-size: 26px;
	font-family: "Gotham";
	line-height: 36px;
	font-weight: 400;
	color: #000;
	margin-bottom: 30px;
}
.step-sub-title span{ 
	color: #F44336;
}
.step-sub-desc{
	margin-bottom: 30px;
	font-size: 14px;
	font-family: "Gotham";
	font-weight: 400;
	line-height: 20px;
	color: rgba( 0, 0 , 0, 0.4);
}
.step-registration-btn{
	width: 180px;
	height: 50px;
	background-color: #F44336;
	border-radius: 4px;
	border: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	cursor: pointer;
}
.step-registration-btn p {
	margin-bottom: 0;
	font-family: "Gotham";
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}
.feature-demonstration .step-title{
	margin-bottom: 120px;
}
.demonstration-mini__block{
	width: 260px;
	height: 155px;
	background-color: #F5F6F6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	position: relative;
}
.demonstration-mini__block .income{ 
	position: absolute;
	bottom: 0;
	display: flex;
}
.demonstration-wrap__block p{
	margin-bottom: 0;
}
.demonstration-wrap__block{
	text-align: left;
}
.demonstration-wrap__block-arrow{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50px;
	height: 50px;
}
.demonstration-title{
	font-size: 14px;
	font-family: "Gotham";
	font-weight: 300;
	line-height: 16px;
}
.demonstration-sub__title{
	font-size: 24px;
	font-family: "Gotham";
	line-height: 40px;
	font-weight: 400;
}
.demonstration-left__arrow, .demonstration-right__arrow{
	width: 25px;
	height: 25px;
}
.demonstration-left__arrow, .demonstration-right__arrow .arrow-left, .arrow-right{
		cursor: pointer;
}
.income p{
	margin-bottom: 0;
}
.title-income{
	font-size: 12px;
	font-family: "Gotham";
	font-weight: 300;
	line-height: 40px;
	padding-right: 10px;
}
.desct-income span{
	padding: 0 5px;
}
.desct-income{
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	font-family: "Gotham";
}

.demonstration-wrap__culc{
	padding-bottom: 40px;
}
.wrap-time-iconme{
	display: flex;
	justify-content: space-between;	
}
.wrap-time-iconme p{
	font-size: 12px;
	line-height: 40px;
	font-weight: 300;
	color: rgba(0, 0, 0, .2);
	margin-bottom: 0;
	font-family: "Gotham";
}
.wrap-time-iconme p span{
	font-size: 8px;
	font-family: "Gotham";
}
.invest-small-title{
	font-size: 14px;
	font-family: "Gotham";
	font-weight: 300;
	line-height: 40px;
	padding-top: 90px;
	padding-bottom: 30px;
	text-align: center;
}
.invest-desc{
	font-size: 26px;
	font-family: "Gotham";
	line-height: 36px;
	font-weight: 400;
	padding-bottom: 25px;
	text-align: center;
}
.wrap-invest .step-registration-btn{
	margin: 0 auto;
	margin-bottom: 110px;
}
.wrap-invest{
	position: relative;
}
.mountain{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
}

.item-partner{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
}
.our-partner{
	border-bottom: 1px dashed #E2E2E2;
}
.our-partner .step-title{
	padding-top: 110px;
	padding-bottom: 60px;
}

/* footer */

.item-chat{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #F44336;
}
.item-chat img{
	padding-left: 20px;
}
.item-chat p{
	margin-bottom: 0;
}

.item-email{
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.item-email p{
	margin-bottom: 0;
	font-size: 18px;
	font-family: "Gotham";
	line-height: 22px;
	font-weight: 400;
}
.item-email::after{
	content: '';
	border-right: 1px solid #E2E2E2;
	position: absolute;
	right: 0;
	top: 0;
	height: 25px;
}
.item-text p {
	margin-bottom: 0;
	font-size: 18px;
	font-family: "Gotham";
	line-height: 22px;
	font-weight: 400;
}
.item-number p{
	padding-left: 20px;
	margin-bottom: 0;
	font-size: 18px;
	font-family: "Gotham";
	line-height: 22px;
	font-weight: 400;
}
.item-email p{
	padding-right: 20px;
	margin-bottom: 0;
	font-family: "Gotham";
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}
.wrap-footer{
	padding-top: 60px;
}
.wrap-footer .wrap-title-item{
	padding-bottom: 90px;
}
.circle-social-network{
	width: 50px;
	height: 50px;
	border: 1px solid #E2E2E2;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}
.wrap-social-item{
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-social p{
	font-size: 12px;
	line-height: 14px;
	font-family: "Gotham";
	font-weight: 500;
	color: rgba(0,0,0, .3);
	margin-bottom: 0;
}
.item-social{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.item-social-policy{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.item-social-policy p{
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	color: rgba(0,0,0, .3);
	margin-bottom: 0;
	font-family: "Gotham";
}
.wrap-sub-footer{
	padding-bottom: 40px;
}


/* first section */
.menu{
	position: fixed;
	width: 70px;
	height: 100vh;
	background-color: #fff;
	/* border: 1px solid #444; */
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.img-corusel{
	width: 100%;
	height: 100vh;
	background: content-box;
}
.slide{
	position: relative;
	/* width: 100%; */
	/* height: 100%; */
}
.wrap-content-slider{
	position: absolute;
	left: 0%;
	top: 25%;
	padding-left: 25px;
}
.slider{
	width: calc(100% - 70px);
	margin-left: 70px;
}
.slider-desc{
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	padding-bottom: 45px;
	color: rgba( 0, 0 , 0, 0.4);
}
.slider-title{
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	padding-bottom: 35px;
}
.btn-slider{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #F44336;
	border: none;
	cursor: pointer;
	outline: none;
	width: 180px;
	height: 50px;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	border-radius: 4px;
}

.swiper-container {
	width: 100%;
	height: 704px;
}
.wrap-block-invest{
	/* width: 270px !important; */
}
.slick-card .slick-list{
	overflow: visible;
}
.wrap-block-invest{
	display: flex;
	align-items: center;
	justify-content: center;
}



/* range input */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background: transparent !important;
	border: 3px solid #707070 !important;
	height: 16px !important;
	width: 16px !important;
	outline: none;
	border-radius: 50% !important;
	transform: translateX(45%);
}
#slider-time{
	width: 220px;
	position: absolute;
	height: 10px;
	background: transparent;
	width: 260px;
	height: 3px !important;
	position: absolute;
	bottom: -1%;
	left: 0;
	z-index: 20;
	border: none;
}
#slider-money{
	width: 220px;
	position: absolute;
	height: 10px;
	background: transparent;
	width: 260px;
	height: 3px !important;
	position: absolute;
	bottom: -1%;
	left: 0;
	z-index: 20;
	border: none;
}






/* progress bar */
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.red-svg .circle-bg {
  fill: transparent;
  stroke: #FFE6E5;
  stroke-width: 2;
}
.yellow-svg .circle-bg {
  fill: transparent;
  stroke: #E6FFE5;
  stroke-width: 2;
}
.green-svg .circle-bg {
  fill: transparent;
  stroke: #E5F1FF;
  stroke-width: 2;
}
.blue-svg .circle-bg {
  fill: transparent;
  stroke: #E7E5FF;
  stroke-width: 2;
}

.circle {
  fill: transparent;
  stroke-width: 2;
  stroke-linecap: round;
}

.red-svg .circular-chart.orange .circle {
	stroke: #EA4335;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	transform: rotate(-144deg);
	transform-origin: center center;
	transition: stroke-dashoffset 0.4s ease-in-out;

}
.yellow-svg .circular-chart.orange .circle {
	stroke: #FABD03;;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	transform: rotate(-144deg);
	transform-origin: center center;
	transition: stroke-dashoffset 0.4s ease-in-out;
}
.green-svg .circular-chart.orange .circle {
	stroke: #35A853;;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	transform: rotate(-144deg);
	transform-origin: center center;
	transition: stroke-dashoffset 0.4s ease-in-out;
}
.blue-svg .circular-chart.orange .circle {
	stroke: #4286F5;;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	transform: rotate(-144deg);
	transform-origin: center center;
	transition: stroke-dashoffset 0.4s ease-in-out;
}
.opportunities-bg svg:hover .circle{
	stroke-dashoffset: 50 !important;
}


.progress circle {
  fill: #ccc;
  stroke: #00d6d6;
  stroke-width: 10;
}


